body {
    font-family: Roboto;
    text-align: center;
    letter-spacing: .5em;
    top: 15%;
    color: rgba(0,0,0,.5);
    text-transform: uppercase;
    padding-top: 5%;
    background: linear-gradient(to right, purple, #00FFCD );
}

h3 {
    width: 100%;
    letter-spacing: 0.01em;
    text-transform: none;
    font: 900 1em;
}

img {
    width: 4vh;
    padding-right: 20px;
    max-width: 100%; 
    /* display:block;  */
    height: auto;
}

footer {
    text-transform: initial;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: normal;
    padding-top: 20px;
}

#love {
    width: 15px;
}